{% extends 'base-tw.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div class="flex flex-col w-full min-h-screen pt-6 md:pt-20 items-center justify-center px-4 py-2">
    <div class="mb-1 md:mb-4">
        <h1 class="text-2xl md:text-3xl text-blue-600 font-bold text-center">Sistem Manajemen Hotel (SISTEL)</h1>
    </div>
    <div class="p-8 w-96 md:min-w-[36rem] lg:min-w-[42rem] max-w-[90%] min-w-[12rem]">
        <h1 class="text-2xl font-semibold mb-4">Registrasi</h1>
        <form action="" method="post" class="grid grid-cols-2 gap-x-4 space-y-3 md:space-y-8">
            {% csrf_token %}
            <div class="col-span-2 md:col-span-1">
                <label for="email" class="block mb-1">Email</label>
                <input type="email" name="email" id="email" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan email">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="nik" class="block mb-1">NIK</label>
                <input type="text" name="nik" id="nik" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan NIK">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="password" class="block mb-1">Password</label>
                <input type="password" name="password" id="password" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan password">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="confirm_password" class="block mb-1">Konfirmasi Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Konfirmasi password">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="fname" class="block mb-1">Nama Depan</label>
                <input type="text" name="fname" id="fname" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan nama depan">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="lname" class="block mb-1">Nama Belakang</label>
                <input type="text" name="lname" id="lname" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan nama belakang">
            </div>
            <div class="col-span-2 md:col-span-1">
                <label for="phone_num" class="block mb-1">Nomor Telepon</label>
                <input type="tel" name="phone_num" id="phone_num" pattern="[0-9]*" title="Hanya input digit/angka diizinkan" class="w-full border-gray-300 bg-blue-100 rounded focus:outline-none focus:border-blue-500 px-4 py-2" placeholder="Masukkan nomor telepon">
            </div>
            
            <div class="flex w-full col-span-2">
                <button type="submit" class="mt-4 md:mt-0 w-full  bg-blue-500 text-white rounded py-2 px-4 hover:bg-blue-600 transition duration-300">Register</button>
            </div>
        </form>
        <div class="mt-2 w-full flex items-center justify-end">
            <div class="px-2 py-2 flex items-center justify-center">
                <span> Sudah punya akun? <a href="/login/" class="text-base text-blue-500">Login</a> </span>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p class="text-red-500">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
</script>
{% endblock content %}
