
{% if not is_hotel %}
<nav class="bg-blue-700 py-4 px-4 fixed top-0 left-0 w-[100vw] z-20">
    <div class="container mx-auto flex items-center justify-between">
        <div class="px-4">
            <a href="#" class="text-white font-bold text-2xl">Sistel</a>
        </div>
        <div class="hidden md:block"> <!-- Hanya tampil di layar besar (md dan yang lebih besar) -->
            <ul class="flex space-x-4 items-center">
                <li><a href="{% url 'reservasi:dashboard-pengguna' %}" class="text-white hover:text-gray-300">Dashboard Pengguna</a></li>
                <li><a href="{% url 'reservasi:show-reservasi' %}" class="text-white hover:text-gray-300">Reservasi Pengguna</a></li>
                <li><a href="/hotels/" class="text-white hover:text-gray-300">Pemesanan Kamar</a></li>
                <li class="bg-red-600 px-2 py-2 flex items-center justify-center rounded-sm"><a href="/logout/" class="text-white hover:text-gray-300 ">Logout</a></li>
            </ul>
        </div>
        <div class="px-4 block md:hidden"> <!-- Tampil di layar kecil (md dan yang lebih kecil) -->
            <button id="mobile-menu-btn" class="text-white focus:outline-none">
                <svg class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Bagian menu yang disembunyikan pada layar besar, ditampilkan pada layar kecil -->
    <div id="mobile-menu" class="hidden md:hidden ">
        <ul class="py-2">
            <li><a href="{% url 'reservasi:dashboard-pengguna' %}" class="block text-white py-2 px-4 hover:bg-blue-500">Dashboard Pengguna</a></li>
            <li><a href="{% url 'reservasi:show-reservasi' %}" class="block text-white py-2 px-4 hover:bg-blue-500">Reservasi Pengguna</a></li>
            <li><a href="/hotels/" class="block text-white py-2 px-4 hover:bg-blue-500">Pemesanan Kamar</a></li>
            <li><a href="/logout/" class="block text-white py-2 px-4 hover:bg-blue-500">Logout</a></li>
        </ul>
    </div>
</nav>
{% else %}
<nav class="bg-blue-700 py-4 fixed top-0 left-0 w-[100vw] z-20 px-4">
    <div class="container mx-auto flex items-center justify-between">
        <div class="px-4">
            <a href="#" class="text-white font-bold text-2xl">Sistel</a>
        </div>
        <div class="hidden md:block"> <!-- Hanya tampil di layar besar (md dan yang lebih besar) -->
            <ul class="flex space-x-4 items-center">
                <li><a href="{% url 'hotel:dashboard-hotel' %}" class="text-white hover:text-gray-300">Dashboard Hotel</a></li>
                <li><a href="#" class="text-white hover:text-gray-300">Kamar Hotel</a></li>
                <li><a href="/fasilitas/hotel_facilities/" class="text-white hover:text-gray-300">Fasilitas Hotel</a></li>
                <li><a href="/reservasi-hotel/hotel/" class="text-white hover:text-gray-300">List Reservasi Hotel</a></li>
                <li class="bg-red-600 px-2 py-2 flex items-center justify-center rounded-sm"><a href="/logout/" class="text-white hover:text-gray-300 ">Logout</a></li>
            </ul>
        </div>
        <div class="px-4 block md:hidden"> <!-- Tampil di layar kecil (md dan yang lebih kecil) -->
            <button id="mobile-menu-btn" class="text-white focus:outline-none">
                <svg class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Bagian menu yang disembunyikan pada layar besar, ditampilkan pada layar kecil -->
    <div id="mobile-menu" class="hidden md:hidden ">
        <ul class="py-2">
            <li><a href="{% url 'hotel:dashboard-hotel' %}" class="text-white hover:text-gray-300">Dashboard Hotel</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">Kamar Hotel</a></li>
            <li><a href="/fasilitas/hotel_facilities/" class="text-white hover:text-gray-300">Fasilitas Hotel</a></li>
            <li><a href="/reservasi-hotel/hotel/" class="text-white hover:text-gray-300">List Reservasi Hotel</a></li>
            <li><a href="/logout/" class="block text-white py-2 px-4 hover:bg-blue-500">Logout</a></li>
        </ul>
    </div>
</nav>
{% endif %}



<script>
    document.getElementById('mobile-menu-btn').addEventListener('click', function () {
        document.getElementById('mobile-menu').classList.toggle('hidden');
    });
</script>
