{% extends 'base-tw.html' %}
{% load static %}
{% block meta %}
    <title>Daftar Reservasi Kamar</title>
{% endblock meta %}

{% block content %}

<div class="max-w-7xl min-h-screen mx-auto flex flex-col items-center  w-screen px-4 " >
    <div class="flex flex-col  w-full   mt-20">
        <div>
            <h1 class="text-xl text-black font-bold">Daftar Reservasi Kamar</h1>
        </div>
    </div>
    <div id="kontainer-review" class="mt-4 flex flex-col w-full  pb-3">
        <div class="w-full overflow-x-auto bg-slate-900 ">
            <table class="  lg:min-w-5xl flex flex-col">
                <thead class=" w-full mb-2  py-2">
                <tr class="w-full  flex text-indigo-400 items-stretch md:text-sm text-xs uppercase break-words ">
                    <th class=" min-w-[20%] w-[15%]  text-left pl-2 ">ID Reservasi</th>
                    <th class="min-w-[20%] w-[15%]   text-left pl-2 ">Nomor Kamar</th>
                    <th class=" flex-grow  text-left pl-2 ">Date</th>
                    <th class="min-w-[20%] w-[15%] text-left pl-2 ">Status</th>
                    <th class="min-w-[20%] w-[15%]  text-left pl-2 ">Action</th>
                </tr>
                </thead>
                <tr class="py-2 bg-gray-200 flex items-stretch break-words flex text-gray-700 items-center lg:text-base md:text-sm text-xs" >
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">aytgdvefghtd4356hrfbc12</td>
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">A02</td>
                    <td class="flex-grow  text-justify px-2 ">11 November 2023</td>
                    <td class="min-w-[20%] w-[15%] text-left pl-2  ">Confirmed</td>
                    <td class="min-w-[20%] w-[15%]  text-justify pl-2 flex items-start justify-start  ">
                        <div class=" grid gap-y-1 lg:gap-y-2 ">
                            <button onclick=""  class="text-xs max-w-full bg-blue-600 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Update Status</h1>
                            </button>
                            <button onclick=""  class="text-xs max-w-full bg-slate-800 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Detail Reservasi</h1>
                            </button>
                            
                        </div>
                    </td>
                </tr>
                <tr class="py-2 bg-gray-300 flex items-stretch break-words flex text-gray-700 items-center lg:text-base md:text-sm text-xs" >
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">uylgdvefhjygfrvcnjknt5765u</td>
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">A05</td>
                    <td class="flex-grow  text-justify px-2 ">16 November 2023</td>
                    <td class="min-w-[20%] w-[15%] text-left pl-2  ">Confirmed</td>
                    <td class="min-w-[20%] w-[15%]  text-justify pl-2 flex items-start justify-start  ">
                        <div class=" grid gap-y-1 lg:gap-y-2 ">
                            <button onclick=""  class="text-xs max-w-full bg-blue-600 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Update Status</h1>
                            </button>
                            <button onclick=""  class="text-xs max-w-full bg-slate-800 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Detail Reservasi</h1>
                            </button>
                            
                        </div>
                    </td>
                </tr>
                <tr class="py-2 bg-gray-200 flex items-stretch break-words flex text-gray-700 items-center lg:text-base md:text-sm text-xs" >
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">aunvbr653fi82wd456</td>
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">B04</td>
                    <td class="flex-grow  text-justify px-2 ">17 Desember 2023</td>
                    <td class="min-w-[20%] w-[15%] text-left pl-2  ">Cancelled</td>
                    <td class="min-w-[20%] w-[15%]  text-justify pl-2 flex items-start justify-start  ">
                        <div class=" grid gap-y-1 lg:gap-y-2 ">
                            <button onclick=""  class="text-xs max-w-full bg-blue-600 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Update Status</h1>
                            </button>
                            <button onclick=""  class="text-xs max-w-full bg-slate-800 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Detail Reservasi</h1>
                            </button>
                            
                        </div>
                    </td>
                </tr>
                <tr class="py-2 bg-gray-300 flex items-stretch break-words flex text-gray-700 items-center lg:text-base md:text-sm text-xs" >
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">a6g5fegb7htk0h86g5hute6nox7</td>
                    <td class="min-w-[20%] w-[15%] py-auto   text-justify px-2  ">B12</td>
                    <td class="flex-grow  text-justify px-2 ">04 Januari 2024</td>
                    <td class="min-w-[20%] w-[15%] text-left pl-2  ">Booked</td>
                    <td class="min-w-[20%] w-[15%]  text-justify pl-2 flex items-start justify-start  ">
                        <div class=" grid gap-y-1 lg:gap-y-2 ">
                            <button onclick=""  class="text-xs max-w-full bg-blue-600 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Update Status</h1>
                            </button>
                            <button onclick=""  class="text-xs max-w-full bg-slate-800 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                                <h1 class="text-xs" >Detail Reservasi</h1>
                            </button>
                            
                        </div>
                    </td>
                </tr>
                
            </table>
        </div>
        <div class="mt-4 flex flex-col  text-white w-full max-w-[98%] mx-auto">
            <table id="product_table" class=" flex flex-col w-full bg-slate-950"></table>
        </div>
    </div>
</div>
<script>
    
</script>

{% endblock content %}