{% extends 'base-tw.html' %}
{% load static %}
{% block meta %}
    <title>Update Fasilitas Hotel</title>
{% endblock meta %}

{% block content %}
{% include 'nav.html' with is_hotel=is_hotel %}
<div class="flex items-center justify-center h-screen">
    <div class="bg-blue-100 p-8 rounded-lg w-full sm:w-96">
        <h1 class="text-3xl font-bold mb-6 text-center">Update Fasilitas Hotel</h1>
        <form method="post">
            {% csrf_token %}
            

            <div class="mb-6">
                <label for="facility_name" class="block text-gray-700 text-sm font-bold mb-2">Nama Fasilitas:</label>
                <input type="text" id="facility_name" name="facility_name" value="{{ facility.facility_name }}" required
                    class="w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
            </div>

            <button type="submit"
                class="w-full bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                Update
            </button>
        </form>
    </div>
</div>
{% endblock content %}
